:root {
    background-color: lightslategrey
}

/* Navbar styling starts */
.navbar {
    height: 85px;
}

.navbar-title {
    font-size: xx-large;
}

/* main div styling */

#initialDivContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#startBtn {
    margin-top: 30px;
    margin-bottom: 30px;
}

