

h1, h2 {
    text-align: center;
}

footer {
    text-align: center;
}

.firstPosition {
    width: 600px;
    margin: 0 auto;
    margin-top: 40px;
}

button {
    border: none;
    background-color: #c002c0;
    color: #06F1F1;
    height: 30px;
    padding: 5px 30px;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    display: inline-block;
    margin: 0 auto;
}

/* Navbar styling starts */
.navbar {
    height: 85px;
}

.navbar-title {
    font-size: xx-large;
}


/* initial div styling */

#initialDivContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#startBtn {
    margin-bottom: 30px;
}

.initialMessage {
    text-align: center;
    display: flex;
    border: solid black;
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

/* challenge div styling */

ul {
    list-style-type: none;
    align-items: center;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  li {
    text-align: center; 
    border: solid, black;
    margin-bottom: 5px;
    padding: 5px;
    width: 40%;
    line-height: 1.5
  }

  /* highscore ranking styling */

  #centerHighscore {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  input {
    height: 35px;
    width: 100%;
    padding: 4px;
    margin-top: 15px;
    border: solid 2px black;
    border-radius: 0%;
  }